html {
  font-size: 62.5%;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin: 8.6rem 0 2rem;
    max-width: 32rem;
    background-color: var(--White);
    border-radius: 1rem;
    box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.50);
}
.container__qr{
    content: url(/images/image-qr-code.png);
    max-width: 28.8rem;
    margin: 1.8rem;
    border-radius: 1rem;
}

.container__content{
    margin: 0 3.2rem 3.4rem;
    text-align: center;
}
.container__content p{
    color: var(--Grayish-blue);
}








.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
